[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
chalk-diagrams = {git = "https://github.com/chalk-diagrams/chalk"}
raspy = {git = "https://github.com/srush/RASPy"}

[dev-packages]

[requires]
python_version = "3.10"
